@model  UserProfileViewModel
@{
    ViewData["Title"] = Model.User.Name + ' '+ Model.User.Surname;
}

<div class="profile-content">
    <h1 class="profile-content__full-name full-name">@Model.User.Name @Model.User.Surname</h1>

    <div class="profile-content__user-posts user-posts">
        @foreach (var post in @Model.Posts)
        {
            <div class="post">
                <h3 class="post__title">@post.Title</h3>
                <p class="post__body">@post.Body</p>
                <p class="post__created-time">@post.CreatedDate.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
        }
    </div>
</div>


