@model Comment


    <div class="mini-comment">
        <div class="mini-comment__owner-name">
            <a asp-action="Profile" asp-controller="Friend" asp-route-userName="@Model.OwnerUserName"> @Model.OwnerName @Model.OwnerSurname</a>
        </div>
        <div class="mini-comment__body">@Model.Body</div>
        <div class="mini-comment__date">@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")</div>
    </div>